#### `Metadata`
<details>
<summary>metadata.json</summary>

```json
{{ metadata_json }}
```

</details>

#### `Terraform output`
<details>
<summary>{{ file_name }}</summary>

```hcl
{{ terraform_output }}
```

</details>

#### `AWS resource charges estimation`
<details>
<summary>{{ infra_cost_file_name }}</summary>

```txt
{{ infra_cost_output }}
```

</details>
