#### `Static Application Security Testing`
<details>
<summary>{{ sast_result_summary_file_name }}</summary>

```txt
{{ sast_result_summary_output }}
```

</details>

<details>
<summary>{{ sast_result_detail_file_name }}</summary>

```txt
{{ sast_result_detail_output }}
```

</details>
